<section class="container">
    <h1 class="title">Calculator</h1>
    <h3 class="subtitle">Código de ejecución de la aplicación Calculator</h3>  
</section>

<section class="container container-box">
    <p class="text">
        Aquí vamos a ver el código de ejecución de la aplicación <em>Calculator</em>. 
        Esta aplicación se realizó con el framework <strong>Angular</strong> versión 15 y 
        para estilizar la aplicación, utilzamos los frameworks <strong>Angular Material</strong> y <strong>Bootstrap</strong> en sus últimas versiones.<br>
        Lo que veremos serán fracciones de código y su explicación para entender qué hacen y cómo resuelven las diferentes tareas de una calculadora común.
    </p>

    <ol>
        <li><a (click)="scrollToElement(target1)" mat-button color="accent" class="index-link">Cómo funciona la aplicación?</a></li>
        <li><a (click)="scrollToElement(target2)" mat-button color="accent" class="index-link">De cuantas partes se compone?</a></li>
        <li><a (click)="scrollToElement(target3)" mat-button color="accent" class="index-link">Cómo están definidas las rutas?</a></li>
        <li><a (click)="scrollToElement(target4)" mat-button color="accent" class="index-link">Cómo se creó el header para la barra de navegación?</a></li>
        <li><a (click)="scrollToElement(target5)" mat-button color="accent" class="index-link">Los botones del header como componentes independientes</a></li>
        <li><a (click)="scrollToElement(target6)" mat-button color="accent" class="index-link">Cómo se definió el marco de la calculadora?</a></li>
        <li><a (click)="scrollToElement(target7)" mat-button color="accent" class="index-link">Cómo toma los números la calculadora?</a></li>
        <li><a (click)="scrollToElement(target8)" mat-button color="accent" class="index-link">Definiendo una función para operaciones simples</a></li>
        <li><a (click)="scrollToElement(target9)" mat-button color="accent" class="index-link">Definiendo una función para operaciones de un solo valor</a></li>
        <li><a (click)="scrollToElement(target10)" mat-button color="accent" class="index-link">Obteniendo el resultado de las operaciones y mostrándolas en pantalla</a></li>
    </ol>

    <h2 #target1 class="title">Cómo funciona la aplicación?</h2>
    <p>
        La aplicación <strong><em>Calculator</em></strong> es una calculadora digital básica que cuenta con todas las operaciones de una calculadora física.<br>
        Estas se dividen en <span style="text-decoration: underline;">Operaciones básicas</span>, las cuales son:
    </p>
    <ul>
        <li>Suma</li>
        <li>Resta</li>
        <li>División</li>
        <li>Multiplicación</li>
        <li>Porcentaje</li>
    </ul>
    <p>
        Luego tenemos las <span style="text-decoration: underline;">Operaciones de un solo valor</span>, estas son:
    </p>
    <ul>
        <li>Raíz cuadrada</li>
        <li>Potencia de 2</li>
        <li>Potencia de 3</li>
        <li>Inverso de un valor</li>
        <li>Cambio de signo</li>
    </ul>
    <hr>

    <h2 #target2 class="title">De cuantas partes se compone?</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Mollitia, placeat voluptatibus magnam amet dolorem incidunt 
        hic quam ipsam alias aspernatur in debitis optio nesciunt! 
        Delectus dignissimos culpa excepturi veniam dolores.
    </p>
    <hr>

    <h2 #target3 class="title">Cómo están definidas las rutas?</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Mollitia, placeat voluptatibus magnam amet dolorem incidunt 
        hic quam ipsam alias aspernatur in debitis optio nesciunt! 
        Delectus dignissimos culpa excepturi veniam dolores.
    </p>
    <hr>

    <h2 #target4 class="title">Cómo se creó el header para la barra de navegación?</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Mollitia, placeat voluptatibus magnam amet dolorem incidunt 
        hic quam ipsam alias aspernatur in debitis optio nesciunt! 
        Delectus dignissimos culpa excepturi veniam dolores.
    </p>
    <hr>

    <h2 #target5 class="title">Los botones del header como componentes independientes</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Mollitia, placeat voluptatibus magnam amet dolorem incidunt 
        hic quam ipsam alias aspernatur in debitis optio nesciunt! 
        Delectus dignissimos culpa excepturi veniam dolores.
    </p>
    <hr>

    <h2 #target6 class="title">Cómo se definió el marco de la calculadora?</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Mollitia, placeat voluptatibus magnam amet dolorem incidunt 
        hic quam ipsam alias aspernatur in debitis optio nesciunt! 
        Delectus dignissimos culpa excepturi veniam dolores.
    </p>
    <hr>

    <h2 #target7 class="title">Cómo toma los números la calculadora?</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Mollitia, placeat voluptatibus magnam amet dolorem incidunt 
        hic quam ipsam alias aspernatur in debitis optio nesciunt! 
        Delectus dignissimos culpa excepturi veniam dolores.
    </p>
    <hr>

    <h2 #target8 class="title">Definiendo una función para operaciones simples</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Mollitia, placeat voluptatibus magnam amet dolorem incidunt 
        hic quam ipsam alias aspernatur in debitis optio nesciunt! 
        Delectus dignissimos culpa excepturi veniam dolores.
    </p>
    <hr>

    <h2 #target9 class="title">Definiendo una función para operaciones de un solo valor</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Mollitia, placeat voluptatibus magnam amet dolorem incidunt 
        hic quam ipsam alias aspernatur in debitis optio nesciunt! 
        Delectus dignissimos culpa excepturi veniam dolores.
    </p>
    <hr>

    <h2 #target10 class="title" >Obteniendo el resultado de las operaciones y mostrándolas en pantalla</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Mollitia, placeat voluptatibus magnam amet dolorem incidunt 
        hic quam ipsam alias aspernatur in debitis optio nesciunt! 
        Delectus dignissimos culpa excepturi veniam dolores.
    </p>
    <hr>
</section>
