<section class="container">
    <h1 class="title">Calculator</h1>
    <h2 class="subtitle">Código de ejecución de la aplicación Calculator</h2>  
</section>

<section class="container container-box">
    <p class="text">
        Aquí vamos a ver el código de ejecución de la aplicación <em>Calculator</em>. 
        Esta aplicación se realizó con el framework <strong>Angular</strong> versión 15 y 
        para estilizar la aplicación, utilzamos los frameworks <strong>Angular Material</strong> y <strong>Bootstrap</strong> en sus últimas versiones.<br>
        Lo que veremos serán fracciones de código y su explicación para entender qué hacen y cómo resuelven las diferentes tareas de una calculadora común.
    </p>

    <ol>
        <li><a (click)="scrollToElement(target1)" mat-button color="accent" class="index-link">Cómo funciona la aplicación?</a></li>
        <li><a (click)="scrollToElement(target2)" mat-button color="accent" class="index-link">De cuantas partes se compone?</a></li>
        <li><a (click)="scrollToElement(target3)" mat-button color="accent" class="index-link">Cómo están definidas las rutas?</a></li>
        <li><a (click)="scrollToElement(target4)" mat-button color="accent" class="index-link">Los botones del header como componentes independientes</a></li>
        <li><a (click)="scrollToElement(target5)" mat-button color="accent" class="index-link">Cómo toma los números la calculadora?</a></li>
        <li><a (click)="scrollToElement(target6)" mat-button color="accent" class="index-link">Definiendo una función para operaciones simples</a></li>
        <li><a (click)="scrollToElement(target7)" mat-button color="accent" class="index-link">Definiendo una función para operaciones de un solo valor</a></li>
        <li><a (click)="scrollToElement(target8)" mat-button color="accent" class="index-link">Obteniendo el resultado de las operaciones y mostrándolas en pantalla</a></li>
    </ol>
    <hr>

    <div class="article-box">
        <h2 #target1 class="title">Cómo funciona la aplicación?</h2>
        <p class="text">
            La aplicación <strong><em>Calculator</em></strong> es una calculadora digital básica que cuenta con todas las operaciones de una calculadora física.<br>
            Estas se dividen en <span style="text-decoration: underline;">Operaciones básicas</span>, las cuales son:
        </p>
        <ul class="list-text">
            <li>Suma</li>
            <li>Resta</li>
            <li>División</li>
            <li>Multiplicación</li>
            <li>Porcentaje</li>
        </ul>
        <p class="text">
            Luego tenemos las <span style="text-decoration: underline;">Operaciones de un solo valor</span>, estas son:
        </p>
        <ul class="list-text">
            <li>Raíz cuadrada</li>
            <li>Potencia de 2</li>
            <li>Potencia de 3</li>
            <li>Inverso de un valor</li>
            <li>Cambio de signo</li>
        </ul>
        <p class="text">
            Su funcionamiento es similar a una calculadora física, muestra el resultado en varias lineas si el mismo fuera demasiado largo y 
            el visor superior permite observar la operación que se llevó a cabo.
            El uso de la calculadora para formato no táctil, es exclusivo del teclado de la computadora. En el caso de un dispositivo táctil, los datos se ingresan 
            por medio del teclado dque exhibe la calculadora.
        </p>
    </div>
    <hr>

    <div class="article-box">
        <h2 #target2 class="title">De cuantas partes se compone?</h2>
        <p class="text">
            La aplicación <strong><em>Calculator</em></strong> se compone de varias partes a nivel código, que se intercomunican entre sí y permiten que la calculadora funcione de forma eficiente.<br>
            Estas son:
        </p>
        <ul class="list-text">
            <li>
                <b>El header de la aplicación: </b>
                <div class="img-box">
                    <img class="img-fluid img-style" src="../../../assets/images/header-code.png" alt="header-code">
                </div>
                <p class="m-0">
                    Este navbar tiene tres buttons.
                </p>
                <p class="text m-0"><b>El botón <span><mat-icon class="icon-text">settings</mat-icon></span></b> permite elegir entre acceder al componente 
                    de la calculadora o al componente de la explicación del código.
                </p>
                <p class="text m-0"><b>El botón <span><mat-icon class="icon-text">favorite</mat-icon></span></b> dá la posibilidad de dar "Me Gusta" a la aplicación.
                </p>
                <p class="text m-0"><b>El botón <span><mat-icon class="icon-text">share</mat-icon></span></b> permite compartir el link de la aplicación para que otros puedan conocerla.
                </p>
            </li>
            <li>
                <b>La aplicación calculadora: </b>
                <div class="img-box">
                    <img class="img-fluid img-style" src="../../../assets/images/calculator-view.png" alt="calculator-view">
                </div>
                <p class="m-0">
                    Es una calculadora con el teclado con números y operaciones, también cuenta con dos visores, uno para el resultado de las operaciones y un segundo para mostrar la operación en sí.
                </p>
            </li>
        </ul>
    </div>
    <hr>

    <div class="article-box">
        <h2 #target3 class="title">Cómo están definidas las rutas?</h2>
        <p class="text">
            La aplicación tiene pocos componentes, pero de todos ellos, nos encontramos solo con dos que son los más importantes.
        </p>
        <div class="img-box">
            <img class="img-fluid img-style" src="../../../assets/images/route-view.png" alt="route-view">
        </div>
        <p class="text m-0">
            El componente <em>Calculadora-normal.component</em> carga cuando el endpoint de la URL es <b>"/normal"</b>. Este componente carga cuando se carga la aplicación, 
            porque es parte de la vista principal que se muestra al inicio de la aplicación.
        </p>
        <p class="text m-0">
            Por otro lado, el componente <em>Codigo.component</em> se carga mediante <b>LazyLoading</b>. LazyLoading es una herramienta que nos dá <b>Angular</b>
            para ayudarnos a mejorar la performance de la aplicación. En este caso, el módulo que contiene el componente en cuestión no carga al inicio de la aplicación, sino que lo hace 
            cuando se elige la ruta del componente, es decir <b>"/code"</b>.
        </p>
        <p class="text m-0">
            Además se pueden observar dos endpoints más, uno vacío(""), que permite que la página rediriga al componente <em>Calculadora-normal.component</em> al iniciar la aplicación, y por 
            otro lado, el endpoint doble asterisco("**") que captura todos los endpoints que no existan y despliega el componente <em>not-found-page.component</em> que muestra una vista de 
            "Página no encontrada". Es necesario aclarar que esta última ruta siempre debe colocarse a lo último del listado de rutas, así captura todos los endpoints que no pertenecen a una ruta declarada.
        </p>
    </div>
    <hr>

    <div class="article-box">
        <h2 #target4 class="title">Los botones del header como componentes independientes</h2>
        <p class="text">
            En el header de la aplicación contamos con tres botones, <em>setting</em>, <em>like</em> y <em>share</em>. Estos botones realizan acciones o redirigen a rutas en la aplicación.
            Pero a nivel de código su diseño es diferente a como generalmente se los crea.
        </p>
        <div class="img-box">
            <img class="img-fluid img-style" src="../../../assets/images/tree-view.png" alt="tree-view">
        </div>
        <p class="text m-0">
            En la imagen anterior se observa el árbol de estos botones y como se dividen. Por un lado, tenemos dos carpetas bien definidas, la <i>Button</i> y la <i>header</i>. 
            Mientras que en la carpeta <i>header</i> se encuentra el componente del navbar de la aplicación, en la carpeta <i>button</i>, están los botones que componen este navbar, 
            y cada uno es un componente diferente.
        </p>
        <p class="text m-0">
            A continuación se muestra el código de uno de estos componentes de botones y es posible observar su estructura y cómo puede definirse como un elemento independiente del código.
        </p>
        <div class="img-box">
            <img class="img-fluid img-style" src="../../../assets/images/component-view.png" alt="component-view">
        </div>
        <p class="text m-0">
            A primera vista, se puede ver como se utiliza el código HTML en linea directamente desde el archivo .ts, esto ayuda a reducir la cantidad de archivos en el código y así simplificarlo.
            Lo mismo se puede realizar con el archivo .css, utilizando los estilos directamente en el archivo .ts, pero en este caso se prefirió dejarlo separado para que el código sea más fácilmente visible.
        </p>
        <p class="text m-0">
            Este componente contiene el button propiamente dicho, que permite desplegar un menú de opciones, con las rutas a elegir. Se observa que dichas rutas son pasadas desde el componente padre como parámetros, esto se realiza en un array
            y mediante una directiva <b>*NgFor</b> se recorre el arreglo para ir mostrando en vista las diversas rutas con toda su informacion.
        </p>
        <p class="text m-0">
            Esta forma de descomponer el código general en pequeños componentes es muy útil al momento de encontrar fallas o bugs e incluso cuando se desea actualizar el estilo de un componente, porque esta forma de modularizar el código permite que solo modifiquemos dicho 
            componente y estos cambios se verán reflejados en todas las secciones de la vista donde dicho componente sea llamado.
        </p>
    </div>
    <hr>
    
    <div class="article-box">
        <h2 #target5 class="title">Cómo toma los números la calculadora?</h2>
        <p class="text">
            En el header de la aplicación contamos con tres botones, <em>setting</em>, <em>like</em> y <em>share</em>. Estos botones realizan acciones o redirigen a rutas en la aplicación.
            Pero a nivel de código su diseño es diferente a como generalmente se los crea.
        </p>
        <div class="img-box">
            <img class="img-fluid img-style" src="../../../assets/images/tree-view.png" alt="tree-view">
        </div>
        <p class="text m-0">
            En la imagen anterior se observa el árbol de estos botones y como se dividen. Por un lado, tenemos dos carpetas bien definidas, la <i>Button</i> y la <i>header</i>. 
            Mientras que en la carpeta <i>header</i> se encuentra el componente del navbar de la aplicación, en la carpeta <i>button</i>, están los botones que componen este navbar, 
            y cada uno es un componente diferente.
        </p>
        <p class="text m-0">
            A continuación se muestra el código de uno de estos componentes de botones y es posible observar su estructura y cómo puede definirse como un elemento independiente del código.
        </p>
        <div class="img-box">
            <img class="img-fluid img-style" src="../../../assets/images/component-view.png" alt="component-view">
        </div>
        <p class="text m-0">
            A primera vista, se puede ver como se utiliza el código HTML en linea directamente desde el archivo .ts, esto ayuda a reducir la cantidad de archivos en el código y así simplificarlo.
            Lo mismo se puede realizar con el archivo .css, utilizando los estilos directamente en el archivo .ts, pero en este caso se prefirió dejarlo separado para que el código sea más fácilmente visible.
        </p>
        <p class="text m-0">
            Este componente contiene el button propiamente dicho, que permite desplegar un menú de opciones, con las rutas a elegir. Se observa que dichas rutas son pasadas desde el componente padre como parámetros, esto se realiza en un array
            y mediante una directiva <b>*NgFor</b> se recorre el arreglo para ir mostrando en vista las diversas rutas con toda su informacion.
        </p>
        <p class="text m-0">
            Esta forma de descomponer el código general en pequeños componentes es muy útil al momento de encontrar fallas o bugs e incluso cuando se desea actualizar el estilo de un componente, porque esta forma de modularizar el código permite que solo modifiquemos dicho 
            componente y estos cambios se verán reflejados en todas las secciones de la vista donde dicho componente sea llamado.
        </p>
    </div>
    <hr>
    

    <h2 #target6 class="title">Definiendo una función para operaciones simples</h2>

    <h2 #target7 class="title">Definiendo una función para operaciones de un solo valor</h2>

    <h2 #target8 class="title" >Obteniendo el resultado de las operaciones y mostrándolas en pantalla</h2>

</section>
