<div class="outer-box">
    <mat-card class="inner-box">
        <mat-card-content class="content-box">
            <div class="screen-box">
                screen
            </div>
            <div class="keyboard-box">
                <button mat-flat-button aria-label="%"><mat-icon>percent</mat-icon></button>
                <button mat-flat-button aria-label="%">CE</button>
                <button mat-flat-button aria-label="%">C</button>
                <button mat-flat-button aria-label="%"><mat-icon>keyboard_backspace</mat-icon></button>
                <button mat-flat-button aria-label="%">/</button>
                <button mat-flat-button aria-label="%">raíz</button>
                <button mat-flat-button aria-label="%">7</button>
                <button mat-flat-button aria-label="%">8</button>
                <button mat-flat-button aria-label="%">9</button>
                <button mat-flat-button aria-label="%"><mat-icon>clear</mat-icon></button>
                <button mat-flat-button aria-label="%">^2</button>
                <button mat-flat-button aria-label="%">4</button>
                <button mat-flat-button aria-label="%">5</button>
                <button mat-flat-button aria-label="%">6</button>
                <button mat-flat-button aria-label="%"><mat-icon>minimize</mat-icon></button>
                <button mat-flat-button aria-label="%">^3</button>
                <button mat-flat-button aria-label="%">1</button>
                <button mat-flat-button aria-label="%">2</button>
                <button mat-flat-button aria-label="%">3</button>
                <button mat-flat-button aria-label="%"><mat-icon>add</mat-icon></button>
                <button mat-flat-button aria-label="%">1/x</button>
                <button mat-flat-button aria-label="%">+/-</button>
                <button mat-flat-button aria-label="%">0</button>
                <button mat-flat-button aria-label="%">.</button>
                <button mat-flat-button aria-label="%">=</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>
