@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

p {
    font-family: 'Michroma', sans-serif;
}

.outer-box {
    padding: 1rem;
}

.inner-box {
    height: calc(100vh - 96px);
    width: 100%;
}

.content-box {
    height: 100%;
    width: 100%;
}

.screen-box {
    height: 30%;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.operation-box {
    height: 47%;
    width: 100%;
    font-weight: lighter;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow-y: auto;
}

.operation-box::-webkit-scrollbar {
    width: 5px;
}

.operation-box p {
    display: block;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 18px;
    word-break: break-word;
}

.result-box {
    height: 47%;
    width: 100%;
    font-weight: bold;
    overflow-y: auto;
}

.result-box p {
    display: block;
    margin-bottom: 0;
    font-size: 45px; /*34px*/
    line-height: 45px;
    word-break: break-word;
    text-align: end;
}

.keyboard-box {
    height: 70%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.keyboard-box button {
    width: 100%;
    height: 100%;
}

.keyboard-box button mat-icon {
    margin-right: 0;
}

.bold {
    font-weight: bold;
    font-size: 1.4rem;
}
